# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/reactApp/node_modules
/reactApp/npm-debug.log*
/reactApp/yarn-error.log
/reactApp/yarn.lock
/reactApp/package-lock.json

# production
/reactApp/dist

# misc
.DS_Store

# umi
/reactApp/src/.umi
/reactApp/src/.umi-production
/reactApp/src/.umi-test
/reactApp/.env.local
